.DS_Store
dbgenerator.php
cl-content/*
!cl-content/.keep
cl-content-migrator
cl-plugins/timemachine
cl-plugins/timemachine-x
cl-plugins/discovery
cl-plugins/updater
cl-plugins/medium-editor
cl-plugins/quill
cl-plugins/yandex-metrica/
cl-plugins/domain-migrator/
cl-plugins/tail-writer/
cl-kernel/bludit.pro.php
cl-kernel/admin/themes/gris
cl-themes/docs
cl-themes/typerite
cl-themes/docsx
cl-themes/editorial
cl-themes/mediumish
cl-themes/clean-blog
cl-themes/grayscale
cl-themes/massively
cl-themes/hyperspace
cl-themes/striped
cl-themes/log
cl-themes/micro
cl-themes/tagg
cl-themes/small
cl-themes/future-imperfect
cl-themes/social-network

# custom excludes
.well-known/
.user.ini
